* {
    padding: 0;
    margin: 0;
}

.iconfont {
    font-size: 50px;
}

.iconfonts {
    font-size: 90px;
}

a {
    text-decoration: none;
    color: black;
}

/*通知栏*/
.top {
    height: 55px;
    border: solid 1px #FFFFFF;
    font-size: 30px;
    line-height: 50px;
    background-color: #FFFFFF;
}

/*头像栏*/
.titles {
    height: 360px;
    border: solid 1px #fff;
    background-color: #fff;

}

.titles .iconss {
    width: 120px;
    /*float: right;*/
    position: absolute;
    top: 60px;
    right: 20px;
    line-height: 90px;
}

.titless {
    height: 100px;
    border: solid 1px #fff;
}

.tx_boxx {
    height: 254px;
    border: solid 1px #fff;

}

.tx_boxx .tx_boxxx {
    width: 254px;
    height: 254px;
    border: solid 1px #fff;
    float: left;
}

.tx_boxx .tx_boxxx .tx {
    width: 150px;
    height: 150px;
    border: solid 1px #fff;
    margin: auto;
    margin-top: 22px;
}

.tx_boxx .nich {
    width: 500px;
    height: 254px;
    border: solid 1px #fff;
    float: left;

}

.tx_boxx .tubma {
    width: 215px;
    height: 254px;
    border: solid 1px #fff;
    float: right;

}

.tx_boxx .nich .nich1 {
    width: 500px;
    height: 100px;
    border: solid 1px #fff;
    float: left;
    font-size: 50px;

    margin-top: 21px;
}

.tx_boxx .nich .nich2 {
    width: 500px;
    height: 100px;
    border: solid 1px #fff;
    float: left;
}

.nich2 .nich2_text {
    color: black;
    opacity: 0.5;
    font-size: 35px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
}

.tx_boxx .tubma .nich3 {
    width: 215px;
    height: 100px;
    border: solid 1px #fff;
    float: right;
    margin-top: 123px;
}

/*主体页面*/
ul {
    list-style: none;
    height: 1180px;

}

ul li {
    height: 120px;
    border: #ddd solid 1px;
}

ul li .boxx {
    display: flex;
    height: 120px;
    width: 980px;
    border: solid 1px #fff;
    background-color: #fff;

}

#ul li .boxx .imgs {
    width: 120px;
    height: 120px;
}

ul li .boxx .imgs .imgss {
    width: 90px;
    height: 90px;
    border: solid 1px #fff;
    margin: auto;
    margin-top: 15px;
}

ul li .boxx .textt {
    width: 829px;
    height: 120px;
    border: solid 1px #fff;
    font-size: 50px;
    line-height: 120px;
}

/*底部*/
.manager {
    display: flex;
    height: 150px;
    border: solid 1px #F7F7F7;
    background-color: #F7F7F7;
}

.manager div {
    flex: 1;
    border: solid 1px #F7F7F7;
}

.manager .iconfont {
    font-size: 70px;
}

.dbtb {
    height: 75px;
    border: solid 1px #F7F7F7;
    text-align: center;
}

.dbwz {
    width: 242px;
    height: 75px;
    border: solid 1px #F7F7F7;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
}

.huise {
    background-color: #EDEDED;
    opacity: 0.7;
}